/AbaScript/AbaScript/bin/
/AbaScript/AbaScript/obj/

.vs/
*.user
*.suo

.idea/
*.sln.iml

.DS_Store

Thumbs.db

*.log

_ReSharper*/
*.DotSettings.user

*.nupkg
*.snupkg
packages/

project.lock.json
project.fragment.lock.json
artifacts/

.vscode/

*.swp
*.bak
*.tmp
*.temp

appsettings.Development.json